# Exclude .htaccess file
.htaccess

# Exclude config files
catalog/includes/configure.php
catalog/admin/includes/configure.php

# Exclude image folders
catalog/images/

# Exlude any Mac system files
.DS_Store
