<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html {htmlparams}>
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Compromise
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20081103

-->
<head>
{headertags}
{stylesheet}
{suckertree}
{pagename}
{googleanalytics}
</head>
<body>
{warnings}
{templateswitch}
	<div id="header">
		<div id="logo">
			<h1>{mainlogo}</h1>
			
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li class="first"><a href="#">Home</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Photos</a></li>
			<li>{myaccount}</li>
			<li>{cartcontents}</li>
			<li>{checkout}</li>
		</ul>
	</div>
	<!-- end #menu -->
<div id="wrapper" width="{storewidth}">
<div class="btm">
	<div id="page"> {breadcrumbs}
		<div id="content">
			<div class="post">
				<div class="entry">
			
			    {content}
				</div>
			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
		       <ul>{columnleft}</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
{modulecontroller}
</div>
</div>
	<!-- end #footer -->
{javascript}
{slideshow}
</body>
</html>
{utf8support}